<a href="https://colab.research.google.com/github/raviakasapu/AdvancedPython/blob/main/1_Recursive_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://python-course.eu/advanced-python/recursive-functions.php

***Factotial with python Function***

In [5]:
def factorial(n):
  if n==0:
    return 1
  else:
    n = n * factorial(n-1)
    return n
  print(n)

In [6]:
factorial(5)

120

In [28]:
def fib(n):
    """ recursive version of the Fibonacci function """
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [31]:
for i in range(1,10):
  t = fib(i)
  print(t)

1
1
2
3
5
8
13
21
34

In [49]:
def fib_new(n):
  old, new = 0, 1
  if n == 0:
    return 0
  for i in range(n-1):
    old, new = new , old+new
    print(new)

In [50]:
fib_new(4)

1
2
3