<a href="https://colab.research.google.com/github/raviakasapu/AdvancedPython/blob/main/1_Recursive_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#https://python-course.eu/advanced-python/recursive-functions.php

***Factotial with python Function***

In [3]:
def factorial(n):
  if n==0:
    return 1
  else:
    n = n * factorial(n-1)
    return n
  print(n)

In [4]:
factorial(5)

120

In [18]:
def fib(n):
    """ recursive version of the Fibonacci function """
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [6]:
for i in range(1,10):
  t = fib(i)
  print(t)

1
1
2
3
5
8
13
21
34

In [19]:
def fib_new(n):
  old, new = 0, 1
  if n == 0:
    return 0
  t = new
  for i in range(0,n-1):
    print(t)
    old, new = new , old+new
    t = new

In [12]:
fib_new(10)

1
1
2
3
5
8
13
21
34

In [70]:
class Fibonacci_series:
  def __init__(self,i1=0,i2=1):
    self.memo = {0:i1,1:i2}
  
  def __call__(self,n):
    if n not in self.memo:
      self.memo[n] = self.__call__(n-1) + self.__call__(n-2)
    return self.memo[n]

In [73]:
fibo = Fibonacci_series()
lukas = Fibonacci_series(2,1)

In [75]:
for i in range(1,20):
  print(i, fibo(i) , lukas(i))

1 1 1
2 1 3
3 2 4
4 3 7
5 5 11
6 8 18
7 13 29
8 21 47
9 34 76
10 55 123
11 89 199
12 144 322
13 233 521
14 377 843
15 610 1364
16 987 2207
17 1597 3571
18 2584 5778
19 4181 9349

In [60]:
dict = {0:"xx",1:"yy"}
dict[0] = "xxx"
dict[1]

'yy'

In [53]:
n=1
if n not in dict:
  print("not")
else:
  print(dict[n])

yy