<a href="https://colab.research.google.com/github/raviakasapu/AdvancedPython/blob/main/4_Lambda_Operator%2C_filter%2C_reduce_and_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***The lambda Function***

In [1]:
sum = lambda x,y : x+y
sum(1,2)

3

#***map function***

r = map(func, seq)

In [3]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)

temperatures = (36.5, 37, 37.5, 38, 39)

In [10]:
F = map(fahrenheit, temperatures)
list_f = list(F)
print(list_f)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

In [11]:
C = map(celsius, list_f)
list_c = list(C)
print(list_c)

[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [16]:
temp_convert = list(map(lambda x: (float(9)/5)*x + 32, temperatures))
temp_convert

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]