<a href="https://colab.research.google.com/github/raviakasapu/AdvancedPython/blob/main/4_Lambda_Operator%2C_filter%2C_reduce_and_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***The lambda Function***

In [ ]:
sum = lambda x,y : x+y
sum(1,2)

3

#***map function***

r = map(func, seq)

map()  will apply the function to all the elements of the series or iterable

In [ ]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)

temperatures = (36.5, 37, 37.5, 38, 39)

In [ ]:
F = map(fahrenheit, temperatures)
list_f = list(F)
print(list_f)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

In [ ]:
C = map(celsius, list_f)
list_c = list(C)
print(list_c)

[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [ ]:
temp_convert = list(map(lambda x: (float(9)/5)*x + 32, temperatures))
temp_convert

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

# ***Filter Function***

filter(function, sequence)

filter out all the elements in a series based on thhe function

In [ ]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x%2,fibonacci))
odd_numbers

[1, 1, 3, 5, 13, 21, 55]

In [ ]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
even_numbers = list(filter(lambda x: x%2-1,fibonacci))
even_numbers

[0, 2, 8, 34]

# ***Reduce Function***

In [ ]:
from functools import reduce
reduce(lambda x,y:x+y,range(1,100))

4950

In [ ]:
reduce(lambda x,y: x*y, range(1,5))

24